
@import '~antd/dist/antd.css';

/*.Descriptions {
    background:#111111  ;
    font-size: 8px;
}

.w2 {
    width:50px;
}
.green {
    background-color: #009900;
}

.red {
    background-color: #ff3333;
}
.lightgreen {
    background-color: lightgreen;
    color:black;
    border-radius: 0px 0px 6px 0px;
}

.lightgreenBG {
    box-shadow: inset  -15px 0px 0px 0px lightgreen, 0px 0px 0px 0px #aaaaaa;
}

.lightred {
    background-color: tomato;
    color:white;
    border-radius: 0px 0px 6px 0px;
}

.lightredBG {
    box-shadow: inset  -15px 0px 0px 0px tomato, 0px 0px 0px 0px #aaaaaa;

} 

.property {
    font-size: 1em;
    width: 100%;
}

.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label
{
    padding: 5px 4px;
}
/* Prevent buttons from staying Blue */
/*ant-btn:hover, .ant-btn:focus {
    color: white;
    background-color: #fff;
    border-color: #fff  ;
}
*/